---

---

<button class="w-full text-white outfit font-bold lg:text-lg bg-[#D9324F] hover:scale-105 transition-all rounded-xl px-6 py-3 flex items-center justify-center gap-4">
    <slot  />
</button>