---
import Button from "./Button.astro";
import { emojis } from "../data/emojis"
import BotonEmoji from "./BotonEmoji";
---

<nav class="flex px-20 py-8 justify-between gap-10 lg:gap-0 items-center">
    <a href="/">
        <h2 class="lg:text-4xl text-xl text-[#499958] font-black nunito">SecretWords</h2>
    </a>
    
    {
        Astro.params.feel && (
            <a href="/">
                <BotonEmoji client:visible/>
            </a>
        )
    }
    
    
</nav>